app = "pointing-poker-f5v0ma"
primary_region = "sjc"

[env]
  APP_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = false
  min_machines_running = 1
  processes = ["app"]

[http_service.concurrency]
  type = "connections"
  hard_limit = 25
  soft_limit = 20

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
